<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC_ADMIN__/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__PUBLIC_ADMIN__/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__PUBLIC_ADMIN__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>

    <![endif]-->
    <title>奖励金提现明细</title>
    <style>


        #imgform {
            width: 300px;
            background-color: #fff;

            position: absolute;
            display: none;
            left: 45%;
            z-index: 1002;
        }

        #imgform .btn{
            padding:5px;
            font-size:14px;
            padding-left:7px;

        }
        .close1 {
            width: 300px;
            height: 26px;
            background-color: #5a98de;
        }

        #closebt {
           float: right;
            display:block;
            width:20px;
            height:25px;

          }
        .colse_form{
            text-align: center;
        }
        .close2{
             text-align: center;
             padding-top:15px;
        }


    </style>

</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 财务管理 <span class="c-gray en">&gt;</span> 奖励金提现明细 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div style="margin-left:20px; margin-top:20px;" >
    <form action="{:U('')}" method="GET">
    <div>
        <!--状态-->
        <select name="is_status">
            <option value=''>全部</option>
            <option value="1" <eq name="Think.get.is_status" value="1">selected="selected"</eq>>未审核</option>
            <option value="2" <eq name="Think.get.is_status" value="2">selected="selected"</eq>>已审核</option>
            <option value="3" <eq name="Think.get.is_status" value="3">selected="selected"</eq>>已驳回</option>
        </select>
        <input  name="tel"  placeholder="请输入手机号" style="width:250px" class="input-text">
        <button type="submit" class="btn btn-success">查询</button>&nbsp;
        <button class="btn label-defaunt"  type="reset">清空查询</button>
    </div>
    <div style="margin-top:20px;">
        <if condition="empty($data)">
            <span style="color: red">暂无该用户数据</span>
        </if>
    </div>
</form>
</div>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th width="3%"><input type="checkbox" name="" value=""></th>
                <th width="5%">ID</th>
                <th width="6%">用户电话</th>
                <th width="11%">用户信息</th>
                <th width="5%">用户等级</th>
                <th width="8%">提现金额</th>
                <th width="8%">手续费</th>
                <th width="10%">申请时间</th>
                <th width="5%">开户名</th>
                <th width="10%">银行卡号</th>
                <th width="5%">开户行</th>
                <th width="10%">更新时间</th>
                <th width="5%">提现状态</th>
                <th width="*">操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="data" id="vo">
            <tr class="text-c">
                <td><input type="checkbox" value="" name=""></td>
                <td>{$vo.withdraw_bonus_id}</td>
                <td>{$vo.tel}</td>
                <td>{$vo.nickname|emoji_decode}/{$vo.realname}</td>
                <td>
                    <?=$level[$vo['level']]?>
                        
                </td>
                <td>{$vo.withdraw_money}</td>
                <td>{$vo.service_charge}</td>
                <td>{$vo.created_at|date="Y-m-d H:i:s",###}</td>
                <td>{$vo.bank_username}</td>
                <td>{$vo.bank_num}</td>
                <td>{$vo.bank_name}</td>
                <td>{$vo.updated_at|date="Y-m-d H:i:s",###}</td>
                <td class="td-status">
                    <if condition="$vo.status eq 1"><span class="label label-success radius" >已审核</span>
                        <elseif condition="$vo.status eq 9"/><span class="label label-success radius"  style="background-color:red;">已驳回</span>
                        <else /><span class="label label-defaunt radius">未审核</span>
                    </if>
                </td>
                <td class="f-14 td-manage">
                    <if condition="$vo.status eq 9"> <a style="text-decoration:none" class="ml-5" href="" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                        <elseif condition="$vo.status eq 1"/>
                        <a style="text-decoration:none" class="ml-5" href="" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                        <else />
                        <a style="text-decoration:none"  onclick="check({$vo.withdraw_bonus_id})"   title="审核通过"><i class="Hui-iconfont">&#xe603;</i></a>
                        <a style="text-decoration:none" class="ml-5 add_img" data-id="{$vo.withdraw_bonus_id}" title="驳回审核" ><i class="Hui-iconfont">&#xe706;</i></a>

                    </if>
                    <a style="text-decoration:none" class="ml-5" id="Huifold" class="Huifold" title="展示日志" data-id="0">
                        <i class="Hui-iconfont">&#xe6d5;</i>
                    </a>
                </td>

            </tr>

            <tr class="HuifoldInfo" style="display:none">
                <td colspan="12">
                    <!-- 商品规格 -->
                    
                    <b>日志:<br/></b>
                    
                    <?php

                        $data = D('WithdrawBonusLog')->getAllLog($vo['withdraw_bonus_id']);
                        foreach($data as $key => $val){
                            $log = explode('----', $val['description']);
                            $wx_log = json_decode($log[1], true);
                            //var_dump($wx_log, $log);
                            echo $log[0] . "&nbsp;&nbsp;&nbsp;微信错误:" .$wx_log['err_code_des'] .' msg: ' . $wx_log['return_msg']."<br />";
                        }
                    ?>
                </td>
            </tr>
                
            </volist>
            </tbody>
        </table>
    </div>
    <div  id="imgform">
        <div class="close1"><span href="javascript:void(0)" id="closebt">X</span></div>
          <div class="close2">
              <form class="colse_form"  action="{:U('dismiss')}" method="get">
                  <p>请输入驳回原因</p>
                  <input type="hidden" name="id" value="">
                  <input type="text" style="margin-bottom:20px;" name="reason" ></br>
                  <input type="submit" class="btn" >
              </form>
          </div>

    </div>
</div>
<div class="pagination">
    {$page}
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<!--<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>-->
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/laypage/1.2/laypage.js"></script>
<script>

    jQuery.Huifold1 = function(obj, speed, obj_type, Event){

    console.log($(obj));
    
    $(obj).bind(Event,function(){


        if($(this).data('id') == 1)
        {
            $(this).html('<i class="Hui-iconfont">&#xe6d5;</i>');
            $(this).data('id', 0)
            $(this).parent().parent().next('.HuifoldInfo').slideUp(speed);
        } else {
            $(this).html('<i class="Hui-iconfont">&#xe6d6;</i>');
            $(this).data('id', 1)
            $(this).parent().parent().next('.HuifoldInfo').slideDown(speed)

        }
    })}

    $(function(){
        $.Huifold1("#Huifold ", "fast",2,"click"); /*5个参数顺序不可打乱，分别是：相应区,隐藏显示的内容,速度,类型,事件*/
    });


    function check(id){
        $.ajax({
            url:"{:U('Admin/Bill/Bank/check')}?id="+id,
            type:"GET",
            success:function(res){
                if(res.code == 3000) {
                    $.Huimodalalert(res.msg,2000);
                }else{
                    $.Huimodalalert(res.msg,2000);
                }
            }
        })
    }
</script>
<script type="text/javascript">


    $(function() {
        $('.add_img').click(function() {
            id = $(this).data('id')
            $('#imgform [name=id]').val(id)
            $('#imgform').center();
            $('#goodcover').show();
            $('#imgform').fadeIn();
        });
        $('#closebt').click(function() {
            $('#imgform').hide();
            $('#goodcover').hide();
        });



        jQuery.fn.center = function(loaded) {
            var obj = this;
            body_width = parseInt($(window).width());
            body_height = parseInt($(window).height());
            block_width = parseInt(obj.width());
            block_height = parseInt(obj.height());

            left_position = parseInt((body_width / 2) - (block_width / 2) + $(window).scrollLeft());
            if (body_width < block_width) {
                left_position = 0 + $(window).scrollLeft();
            };

            top_position = parseInt((body_height / 2) - (block_height / 2) + $(window).scrollTop());
            if (body_height < block_height) {
                top_position = 0 + $(window).scrollTop();
            };

            if (!loaded) {

                obj.css({
                    'position': 'absolute'
                });
                obj.css({
                    'top': ($(window).height() - $('#imgform').height()) * 0.5,
                    'left': left_position
                });
                $(window).bind('resize', function() {
                    obj.center(!loaded);
                });
                $(window).bind('scroll', function() {
                    obj.center(!loaded);
                });

            } else {
                obj.stop();
                obj.css({
                    'position': 'absolute'
                });
                obj.animate({
                    'top': top_position
                }, 200, 'linear');
            }
        }

    })

    
    
</script>
</body>
</html>