<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC_ADMIN__/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__PUBLIC_ADMIN__/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__PUBLIC_ADMIN__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>零元购</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 财务管理 <span class="c-gray en">&gt;</span> 用户余额明细 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div style="margin-left:20px; margin-top:20px;" >
    <form action="{:U('userindex')}" method="GET">
        <div>
            <!--操作类型-->
            <select name="is_type">
                <option value="">全部</option>
                <option value="1" <eq name="Think.get.is_type" value="1">selected="selected"</eq>>充值</option>
                <option value="2" <eq name="Think.get.is_type" value="2">selected="selected"</eq>>0元购</option>
            </select>
            <!--状态-->
            <select name="is_status">
                <option value=''>全部</option>
                <option value="1" <eq name="Think.get.is_status" value="1">selected="selected"</eq>>进账</option>
                <option value="2" <eq name="Think.get.is_status" value="2">selected="selected"</eq>>出账</option>
            </select>
            <input  name="tel"  placeholder="请输入手机号" style="width:250px" class="input-text">
            <button type="submit" class="btn btn-success">查询</button>&nbsp;
            <button class="btn label-defaunt"  type="reset">清空查询</button>
        </div>
        <div style="margin-top:20px;">
            <if condition="empty($data)">
                <span style="color: red">暂无该用户数据</span>
            </if>
        </div>
    </form>
</div>
<div class="page-container">

    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="1%"><input type="checkbox" name="" value=""></th>
                <th width="5%">ID</th>
                <th width="10%">用户手机</th>
                <th width="5%">操作类型</th>
                <th width="5%">状态</th>
                <th width="8%">金额</th>
                <th width="20%">标题</th>
                <th width="10%">创建时间</th>
                <th width="20%">日志详情</th>
                <th width="*">当前余额</th>
            </tr>
            </thead>
            <tbody>
            <volist name="data" id="vo">
                <tr class="text-c">
                    <td><input type="checkbox" value="1" name=""></td>
                    <td>{$vo.id}</td>
                    <td>{$vo.tel}</td>
                    <td>
                        <if condition="$vo.b_type eq 1">充值
                            <else /> 0元购
                        </if>
                    </td>
                    <td>
                        <if condition="$vo.type eq 1">出账
                            <else />进账
                        </if>
                    </td>
                    <td>{$vo.money}</td>
                    <td class="text-l">{$vo.title}</td>
                    <td>{$vo.created_at|date="Y-m-d H:i:s",###}</td>
                    <td class="text-l">{$vo.detail}</td>
                    <td>{$vo.balance}</td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</div>
<div class="pagination">
    {$page}
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<!--<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>-->
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    // $(function(){
    //     $('.table-sort').dataTable({
    //         "aaSorting": [[ 1, "asc" ]],//默认第几个排序
    //         "bStateSave": false,//状态保存
    //         "aoColumnDefs": [
    //             //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
    //             {"orderable":false,"aTargets":[0]}// 制定列不参与排序
    //         ]
    //     });
    //
    // });
</script>
</body>
</html>