<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>支付提示</title>
    <script src="__PUBLIC_HOME__/js/mui.min.js"></script>
    <link href="__PUBLIC_HOME__/css/mui.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/css/style.css"/>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
<body>
<script src="__PUBLIC_HOME__/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>

<?php
// 判断浏览器类型
$userAgent = $_SERVER['HTTP_USER_AGENT'];
//MicroMessenger 是android/iphone版微信所带的
//Windows Phone 是winphone版微信带的  (这个标识会误伤winphone普通浏览器的访问)
if(strpos($userAgent, 'MicroMessenger') == false && strpos($userAgent, 'Windows Phone') == false){ // 非微信用户
?>
<!--非微信打开 ajax 请求 /api/order/index/alipay?id=<?php echo $_GET['id']?>-->

<script type="text/javascript">
 $(".mui-content>img").attr('src','http://img.hena360.cn/pay_1.png')
        
        $.ajax({
            url:'http://'+window.location.host+'/api/order/index/alipay<?php echo $str?>',
            type:'post',
            dataType:'json',
            success:function (data) {
                console.log(data)
                if(data.code==2000){
                    window.location.href=data.data.url;
                } else {
                    mui.alert(data.message);
                }
            }
        })
</script>
<?php
} else { // 微信用户
?>
<div class="mui-content">
    <img src="http://img.hena360.cn/pay_1.png" alt="" class="mui-slider">
</div>

<script>
  $(function () {
        var u = navigator.userAgent, app = navigator.appVersion;
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
        var id ="<?php echo $_GET['id'] ?>"
        if(isAndroid==1){
            $(".mui-content>img").attr('src','http://img.hena360.cn/pay_1.jpg')
        }else{
            $(".mui-content>img").attr('src','http://img.hena360.cn/pay_2.jpg')
        }
    })
</script>
<?php
}
?>

</body>
<!--分享-->
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    var domain = 'http://' + window.location.host;
    var myurl = window.location.href;
    var data = {
        'url': myurl
    };
    if (myurl.indexOf('Goods') != -1 || myurl.indexOf('Goods') != -1 || myurl.indexOf('details') != -1 || window.location.href.indexOf('tb') != -1) {
        menu_list = ['menuItem:share:qq',
            'menuItem:share:weiboApp',
            'menuItem:favorite',
            'menuItem:share:facebook',
            'menuItem:copyUrl', // 复制链接:
            'menuItem:originPage', // 原网页
            'menuItem:share:email',
            'menuItem:share:QZone'];
    } else {
        menu_list = ['menuItem:share:qq',
            'menuItem:share:weiboApp',
            'menuItem:favorite',
            'menuItem:share:facebook',
            'menuItem:copyUrl', // 复制链接:
            'menuItem:originPage', // 原网页
            'menuItem:share:appMessage',
            'menuItem:openWithQQBrowser',
            'menuItem:share:timeline',
            'menuItem:openWithSafari',
            'menuItem:share:email',
            'menuItem:share:QZone'];
    }

    $.ajax({
        url: domain + "/Home/User/getShareInfo.html",
        type: 'post',
        dataType: 'json',
        data: data,
        success: function (data) {
            wx.config({
                debug: false,
                appId: data.signPackage.appId,
                timestamp: data.signPackage.timestamp,
                nonceStr: data.signPackage.nonceStr,
                signature: data.signPackage.signature,
                jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'hideMenuItems','onMenuShareQQ','onMenuShareQZone']
            });
            wx.ready(function () {

                if (window.location.href.indexOf('tb') != -1) {
                    var nowurl = "tao.hena360.com"
                } else {
                    var nowurl = window.location.href;
                }
                //去除url中不必要参数
                nowurl = nowurl.replace(/&amp;mid=\d+/, '');
                if (nowurl.indexOf('mid') == -1) {
                    if (nowurl.indexOf('?') == -1) {
                        nowurl += '?mid=' + data.mid;
                    } else {
                        nowurl += '&mid=' + data.mid;
                    }
                } else {
                    nowurl = nowurl.replace(/&mid=\d+/, '&mid=' + data.mid);
                }
                //去除url中不必要参数
                nowurl = nowurl.replace(/&from=groupmessage/, '');
                nowurl = nowurl.replace(/&amp;from=groupmessage/, '');
                //分享功能
                wx.onMenuShareTimeline({
                    title: '自用省钱，躺着赚钱！福利0元抢，爆品限时抢，海量折扣单品……',
                    link: nowurl,
                    desc: '生态化布局，亮点多多，收益多多，总能留住你的心！加入合纳，人生不将就！', // 分享描述
                    imgUrl: 'http://img.hena360.cn/wxshare.jpg',
                    success: function () {
                        alert("分享成功");
                    },
                    cancel: function () {
                        alert('你没有分享到朋友圈');
                    }
                });
                wx.onMenuShareAppMessage({
                    title: '自用省钱，躺着赚钱！福利0元抢，爆品限时抢，海量折扣单品……',
                    link: nowurl,
                    desc: '生态化布局，亮点多多，收益多多，总能留住你的心！加入合纳，人生不将就！', // 分享描述
                    imgUrl: 'http://img.hena360.cn/wxshare.jpg',
                    success: function () {
                        alert("分享成功");
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        alert('你没有分享给朋友');
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareQQ({
                    title: '自用省钱，躺着赚钱！福利0元抢，爆品限时抢，海量折扣单品……',
                    link: nowurl,
                    desc: '生态化布局，亮点多多，收益多多，总能留住你的心！加入合纳，人生不将就！', // 分享描述
                    imgUrl: 'http://img.hena360.cn/wxshare.jpg',
                    success: function () {
                        alert("分享成功");
                    },
                    cancel: function () {
                        alert('你没有分享到QQ');
                    }
                });
                wx.onMenuShareQZone({
                    title: '自用省钱，躺着赚钱！福利0元抢，爆品限时抢，海量折扣单品……',
                    link: nowurl,
                    desc: '生态化布局，亮点多多，收益多多，总能留住你的心！加入合纳，人生不将就！', // 分享描述
                    imgUrl: 'http://img.hena360.cn/wxshare.jpg',
                    success: function () {
                        alert("分享成功");
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        alert('你没有分享给朋友');
                        // 用户取消分享后执行的回调函数
                    }
                });
            })
        }
    });
</script>
<!--分享-->
</html>