<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>HENA</title>
    <script src="__PUBLIC_HOME__/js/mui.min.js"></script>
    <script src="__PUBLIC_HOME__/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <link href="__PUBLIC_HOME__/css/mui.css" rel="stylesheet"/>
</head>
<body>
    <div class="mui-content">
        <img src="http://img.hena360.cn/img.hena360.cn/tao.jpg" alt="" class="mui-slider">
    </div>
</body>
</html>