<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>HENA</title>
    <script src="__PUBLIC_HOME__/js/mui.min.js"></script>
    <link href="__PUBLIC_HOME__/css/mui.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/css/style.css"/>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
    <style>
        /*.i_list {*/
            /*border-bottom: none;*/
            /*padding: 0;*/
            /*padding: 0 15px;*/
            /*background-color: #000000*/
        /*}*/

        /*.i_list > .mui-col-xs-12 {*/
            /*background: #ffffff;*/
            /*margin-bottom: 1px;*/
        /*}*/

        /*.mui-content {*/
            /*background-color: #000000*/

        /*}*/

        /*body {*/
            /*background-color: #000000;*/
            /*background-image: url('http://img.hena360.cn/fuliku.jpg');*/
            /*background-repeat: no-repeat;*/
            /*background-size: 100%;*/
        /*}*/

        /*.i_list a > .mui-row {*/
            /*padding: 15px !important;*/
        /*}*/

        /*.mui-content > div {*/
            /*margin-top: 63%;*/
            /*padding-top: 4%;*/
        /*}*/

        /*.i_list a > .mui-row {*/
            /*padding: 4% 0;*/
            /*border-bottom: 1px solid #ffffff;*/
            /*margin-bottom: 0;*/
        /*}*/
        .i_list {
            border-bottom: none;
        }
        .mui-content {
            background: #000000;
            margin-bottom: 0;
        }
        .mui-bar-nav a img {
            width: 8%;
            margin-top: 2%;
        }
        .mui-bar {
            background: none;
            box-shadow: none;
            -webkit-box-shadow:none;
        }
    </style>
<body>
<header class="mui-bar mui-bar-nav">
    <a href="{:U('Index/index')}"><img src="http://img.hena360.cn/giftbag_5.png" alt=""></a>
    <a href="{:U('Index/index')}"><img src="http://img.hena360.cn/giftbag_4.png" alt="" style="float: right"></a>
</header>
<div class="mui-content">
    <img src="http://img.hena360.cn/fuliku.jpg" alt="" class="mui-slider img">
    <div>
        <div class="mui-row i_list">
        </div>
        <div class="mui-row i_list i_lis2">
        </div>
    </div>
</div>
<script src="__PUBLIC_HOME__/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    mui('body').on('tap', 'a', function () {
        window.top.location.href = this.href;
    });
    $(function () {
        $.ajax({
            url: "{:U('Home/index/getSocialList')}",
            // url: 'http://test.qc1680.cn/Home/index/getSocialList ',
            // url:'http://m.hena360.com/Home/index/getSocialList ',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                //console.log(data)
                
                if (!data.cur_goods_list) {
                    $(".i_list").remove()
                } else {
                    var _html = '';
                    for (var i = 0; i < data.cur_goods_list.length; i++) {
                        var _id = data.cur_goods_list[i].id
                        _html += ' <div class="mui-col-xs-12"><a href="{:U(\'Goods/details\')}?id=' + _id + '"><div class="mui-row"><div class="mui-col-xs-4"><img src="' + data.cur_goods_list[i].goods_logo + '" class="mui-slider"/></div> <div class="mui-col-xs-8" style="padding-left: 5%"> <h4>' + data.cur_goods_list[i].goods_name + '</h4><p><span>' + data.cur_goods_list[i].pre_sale_start + '-' + data.cur_goods_list[i].pre_sale_end + '</span><span>限时抢购</span></p><span><small>￥</small>' + data.cur_goods_list[i].goods_price + '</span> <span class="mui-pull-right">抢购</span></div></div></a> </div> '
                    }
                    $(".i_list").html(_html)
                    $(".i_list>.mui-col-xs-12").css({
                        'background': '#ffffff',
                        'padding':' 0 15px'
                    });
                    for (var i = 0; i < data.old_goods_list.length; i++) {
                        var _id = data.old_goods_list[i].id
                        _html += ' <div class="mui-col-xs-12"><a href="{:U(\'Goods/details\')}?id=' + _id + '"><div class="mui-row"><div class="mui-col-xs-4"><img src="' + data.old_goods_list[i].goods_logo + '" class="mui-slider"/></div> <div class="mui-col-xs-8" style="padding-left: 5%"> <h4>' + data.old_goods_list[i].goods_name + '</h4><p><span>' + data.old_goods_list[i].pre_sale_start + '-' + data.old_goods_list[i].pre_sale_end + ' </span><span>限时抢购</span></p><span><small>￥</small>' + data.old_goods_list[i].goods_price + '</span> <span class="mui-pull-right">结束</span></div></div></a> </div> '
                    }
                    $(".i_lis2").html(_html)
                    $(".i_list>.mui-col-xs-12").css({
                        'background': '#ffffff',
                        'padding':' 0 15px'
                    });
                }
            }
        })
        $.ajax({
            url: "{:U('Home/index/getSocialList')}",
            // url: 'http://test.qc1680.cn/Home/index/getSocialList ',
            // url:'http://m.hena360.com/Home/index/getSocialList ',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (!data.cur_goods_list) {
                    $(".i_list").remove()
                } else {
                    var _html = '';
                    for (var i = 0; i < data.cur_goods_list.length; i++) {
                        var _id = data.cur_goods_list[i].id
                        _html += ' <div class="mui-col-xs-12"><a href="{:U(\'Goods/details\')}?id=' + _id + '"><div class="mui-row"><div class="mui-col-xs-4"><img src="' + data.cur_goods_list[i].goods_logo + '" class="mui-slider"/></div> <div class="mui-col-xs-8" style="padding-left: 5%"> <h4>' + data.cur_goods_list[i].goods_name + '</h4><p><span>' + data.cur_goods_list[i].pre_sale_start + '-' + data.cur_goods_list[i].pre_sale_end + '</span><span>限时抢购</span></p><span><small>￥</small>' + data.cur_goods_list[i].goods_price + '</span> <span class="mui-pull-right">抢购</span></div></div></a> </div> '
                    }
                    $(".i_list").html(_html)
                    $(".i_list>.mui-col-xs-12").css({
                        'background': '#ffffff',
                        'padding':' 0 15px'
                    });
                    var _html = '';
                    for (var i = 0; i < data.old_goods_list.length; i++) {
                        var _id = data.old_goods_list[i].id
                        _html += ' <div class="mui-col-xs-12"><a href="{:U(\'Goods/details\')}?id=' + _id + '"><div class="mui-row"><div class="mui-col-xs-4"><img src="' + data.old_goods_list[i].goods_logo + '" class="mui-slider"/><img src="http://img.hena360.cn/overdue.png" alt="" style="position: absolute;top: 15%;left: 15%;width: 70%;z-index: 2"></div> <div class="mui-col-xs-8" style="padding-left: 5%"> <h4>' + data.old_goods_list[i].goods_name + '</h4><p><span>' + data.old_goods_list[i].pre_sale_start + '-' + data.old_goods_list[i].pre_sale_end + ' </span><span>限时抢购</span></p><span><small>￥</small>' + data.old_goods_list[i].goods_price + '</span> <span class="mui-pull-right" style="background: #666666">结束</span></div></div></a> </div> '
                    }
                    $(".i_lis2").html(_html)
                    $(".i_list>.mui-col-xs-12").css({
                        'background': '#ffffff',
                        'padding':' 0 15px'
                    });
                }
            }
        })
    })

</script>
<!--分享-->
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    var domain = 'http://' + window.location.host;
    var myurl = window.location.href;
    var data = {
        'url': myurl
    };
    if (myurl.indexOf('Goods') != -1 || myurl.indexOf('Goods') != -1 || myurl.indexOf('details') != -1 || window.location.href.indexOf('tb') != -1) {
        menu_list = ['menuItem:share:qq',
            'menuItem:share:weiboApp',
            'menuItem:favorite',
            'menuItem:share:facebook',
            'menuItem:copyUrl', // 复制链接:
            'menuItem:originPage', // 原网页
            'menuItem:share:email',
            'menuItem:share:QZone'];
    } else {
        menu_list = ['menuItem:share:qq',
            'menuItem:share:weiboApp',
            'menuItem:favorite',
            'menuItem:share:facebook',
            'menuItem:copyUrl', // 复制链接:
            'menuItem:originPage', // 原网页
            'menuItem:share:appMessage',
            'menuItem:openWithQQBrowser',
            'menuItem:share:timeline',
            'menuItem:openWithSafari',
            'menuItem:share:email',
            'menuItem:share:QZone'];
    }

    $.ajax({
        url: domain + "/Home/User/getShareInfo.html",
        type: 'post',
        dataType: 'json',
        data: data,
        success: function (data) {
            wx.config({
                debug: false,
                appId: data.signPackage.appId,
                timestamp: data.signPackage.timestamp,
                nonceStr: data.signPackage.nonceStr,
                signature: data.signPackage.signature,
                jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'hideMenuItems','onMenuShareQQ','onMenuShareQZone']
            });
            wx.ready(function () {

                if (window.location.href.indexOf('tb') != -1) {
                    var nowurl = "tao.hena360.com"
                } else {
                    var nowurl = window.location.href;
                }
                //去除url中不必要参数
                nowurl = nowurl.replace(/&amp;mid=\d+/, '');
                if (nowurl.indexOf('mid') == -1) {
                    if (nowurl.indexOf('?') == -1) {
                        nowurl += '?mid=' + data.mid;
                    } else {
                        nowurl += '&mid=' + data.mid;
                    }
                } else {
                    nowurl = nowurl.replace(/&mid=\d+/, '&mid=' + data.mid);
                }
                //去除url中不必要参数
                nowurl = nowurl.replace(/&from=groupmessage/, '');
                nowurl = nowurl.replace(/&amp;from=groupmessage/, '');
                //分享功能
                wx.onMenuShareTimeline({
                    title: '自用省钱，躺着赚钱！福利0元抢，爆品限时抢，海量折扣单品……',
                    link: nowurl,
                    desc: '生态化布局，亮点多多，收益多多，总能留住你的心！加入合纳，人生不将就！', // 分享描述
                    imgUrl: 'http://img.hena360.cn/wxshare.jpg',
                    success: function () {
                        alert("分享成功");
                    },
                    cancel: function () {
                        alert('你没有分享到朋友圈');
                    }
                });
                wx.onMenuShareAppMessage({
                    title: '自用省钱，躺着赚钱！福利0元抢，爆品限时抢，海量折扣单品……',
                    link: nowurl,
                    desc: '生态化布局，亮点多多，收益多多，总能留住你的心！加入合纳，人生不将就！', // 分享描述
                    imgUrl: 'http://img.hena360.cn/wxshare.jpg',
                    success: function () {
                        alert("分享成功");
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        alert('你没有分享给朋友');
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareQQ({
                    title: '自用省钱，躺着赚钱！福利0元抢，爆品限时抢，海量折扣单品……',
                    link: nowurl,
                    desc: '生态化布局，亮点多多，收益多多，总能留住你的心！加入合纳，人生不将就！', // 分享描述
                    imgUrl: 'http://img.hena360.cn/wxshare.jpg',
                    success: function () {
                        alert("分享成功");
                    },
                    cancel: function () {
                        alert('你没有分享到QQ');
                    }
                });
                wx.onMenuShareQZone({
                    title: '自用省钱，躺着赚钱！福利0元抢，爆品限时抢，海量折扣单品……',
                    link: nowurl,
                    desc: '生态化布局，亮点多多，收益多多，总能留住你的心！加入合纳，人生不将就！', // 分享描述
                    imgUrl: 'http://img.hena360.cn/wxshare.jpg',
                    success: function () {
                        alert("分享成功");
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        alert('你没有分享给朋友');
                        // 用户取消分享后执行的回调函数
                    }
                });
            })
        }
    });
</script>
<!--分享-->
</body>
</html>