
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>选择支付方式</title>
    <script src="__PUBLIC_HOME__/js/mui.min.js"></script>
    <link href="__PUBLIC_HOME__/css/mui.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/css/style.css"/>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
<body>
<div class="mui-content">
    <!--订单id: {$order['id']}-->
    <!--订单号:{$order['order_sn']}-->
    <!--金额：{$order['money']}-->
    <!--创单时间:{$order['created_at']}-->
    <div class="mui-row">
        <div class="mui-col-xs-12">订单号: <span>132123132</span></div>
        <div class="mui-col-xs-12">支付金额: <span class="mui-pull-right">132123132</span></div>
    </div>
</div>
<script src="__PUBLIC_HOME__/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script>

</script>
</body>
</html>
